{% extends 'info.html' %}


{% block panel %}
    <div class="panel panel-default">
        <!-- 用户姓名 -->
        <div class="panel-heading">{{ teacher }}</div>
        <!-- 用户信息列表 -->
        <dl class="dl-horizontal">
            <dt>{{ teacher }}的年龄</dt>
            <dd>{{ teacher.tAge }}</dd>
            <dt>{{ teacher }}的性别</dt>
            <dd>{{ teacher.tGender }}</dd>
            <dt>{{ teacher }}的手机号</dt>
            <dd>{{ teacher.tPhone }}</dd>
            <dt>{{ teacher }}的薪资</dt>
            <dd>{{ teacher.salary}}</dd>
            <dt>{{ teacher }}的角色</dt>
            <dd>{{ teacher.teacher2user }}</dd>
        </dl>
    </div>
{% endblock %}